<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<!--
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name=”description” content=”Description for SEO”>
<meta name="keyword" content=”Description for SEO”>
<meta name="msapplication-TileColor" content="#cc0000">
<meta name="msapplication-TileImage" content="/tile-icon.png">
<meta property="og:type" content="website">
<meta property="og:site_name" content="This is the name of the site you want facebook to know"/>
<meta property="og:image" content="/social-icon.png" />
<meta property="og:url" content="http://<?php echo $_SERVER['SERVER_NAME'].$_SERVER['REDIRECT_URL'];?>">
<meta property="og:title" content="fb title" />
<meta property="og:description" content="fb description" />
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="URL to a unique image representing the content of the page. Do not use a generic image such as your website logo, author photo, or other image that spans multiple pages. The image must be a minimum size of 120x120px. Images larger than 120x120px will be resized and cropped square based on its longest dimension. Images must be less than 1MB in size.">
<meta name="twitter:image:with" content="">
<meta name="twitter:image:height" content="">
<meta name="twitter:description" content="A description that concisely summarizes the content of the page, as appropriate for presentation within a Tweet. Do not re-use the title text as the description, or use this field to describe the general services provided by the website. Description text will be truncated at the word to 200 characters.">
<meta name="twitter:title" content="Title should be concise and will be truncated at 70 characters.">
<meta name="twitter:site" content="@siteOwner">
<meta name="twitter:creator" content="@keostrife">
<meta name="twitter:url" content="url of site">
-->
<!--
<link rel="canonical" href="<?php echo BASE; ?>/this/is/to/prevent/google/from/seeing/duplicate/pages" />
<link rel="apple-touch-icon" href="<?php echo BASE; ?>/assets/images/icon.png" />
<link rel="apple-touch-icon" sizes="76x76" href="<?php echo BASE; ?>/assets/images/icon-76.png" />
<link rel="apple-touch-icon" sizes="120x120" href="<?php echo BASE; ?>/assets/images/icon@2x.png" />
<link rel="apple-touch-icon" sizes="152x152" href="<?php echo BASE; ?>/assets/images/icon-76@2x.png" />
<link rel="shortcut icon" href="/favicon.ico">
-->
<link rel="author" href="<?php echo BASE; ?>/humans.txt" />
<link rel="stylesheet" type="text/css" href="<?php echo BASE; ?>/assets/css/screen.css">
<!--[if IE]>
<link href="<?php echo BASE; ?>/assets/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title><?php echo $page_title ?></title>
</head>
<body>
